@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;500;600;700&family=Oswald:wght@400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;500;600;700&family=Oswald:wght@400;500;600;700&family=Source+Sans+Pro:wght@300;400;600;700&display=swap");

/* ------------------ HEADER STYLE ------------- */

header {
	background-image: url("/assets/Desktop_Backgrounds_1920x1200_6\ 3\ \(1\).png");
	background-repeat: no-repeat;
	height: 822px;
	width: 1200px;
	margin: auto;
}
.navbar-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 651px;
	height: 26px;
	margin-left: 152px;
	transform: translateY(45px);
}
.navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 395px;
	height: 22px;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

header a:hover {
	border-bottom: 2px solid #ffffff;
	cursor: pointer;
}

.navbar a {
	font-family: "Source Sans Pro";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: #ffffff;
}

.navbar-header h3 {
	text-decoration: none;
	font-family: "Source Sans Pro";
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 16px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #ffffff;
}

.headline {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 822px;
}

.headline h1 {
	color: #ffffff;
	font-family: "Oswald";
	font-style: normal;
	font-weight: 700;
	font-size: 48px;
	line-height: 64px;
	text-align: center;
}

.headline p {
	font-family: "Source Sans Pro";
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 32px;
	text-align: center;
	color: rgba(255, 255, 255, 0.7);
	margin-top: -5px;
}

/* ------------------ MAIN SECTION STYLE---------------- */

main {
	background-color: #eeeeee;
	height: 700px;
	width: 1200px;
	margin: auto;
	transform: translateY(-21px);
}

/* ------------------------Section 1-------------------- */

.section-1-container {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 700px;
}

main h2 {
	font-family: "Oswald";
	font-style: normal;
	font-weight: 700;
	font-size: 48px;
	line-height: 64px;
	text-align: center;
	color: #464547;
}

main .first-paragraph {
	font-family: "Source Sans Pro";
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 32px;
	text-align: center;
	color: #666666;
}

main .second-paragraph {
	font-family: "Source Sans Pro";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	text-align: center;
	color: #000000;
	width: 983px;
}

main button {
	background: #55c2d8;
	border-radius: 18px;
	border: none;
	width: 115px;
	height: 36px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

main button:hover {
	cursor: pointer;
	background-color: #36a2b8;
}

.section-1-container button h3 {
	font-family: "Oswald Regular";
	font-size: 14px;
	line-height: 26px;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
	text-align: center;
}

/* ------------------------Section 2-------------------- */

.section-2-container {
	background-image: url("/assets/IMG_1334_72dpi_RGB_\ 1.png");
	background-repeat: no-repeat;
	width: 1200px;
	height: 666px;
	/* display: inline-block; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.video-button button {
	height: 150px;
	width: 150px;
	border-radius: 50%;
	margin: 0 auto;
}

.video-button span {
	color: #ffffff;
	transform: translate(7px, -5px);
	font-size: 55px;
	border-radius: 2px;
}

.section-2-container h2 {
	font-family: "Oswald";
	font-style: normal;
	font-weight: 700;
	font-size: 48px;
	line-height: 64px;
	text-align: center;
	color: #ffffff;
}

.section-2-container p {
	font-family: "Source Sans Pro";
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 32px;
	text-align: center;
	color: #ffffff;
}

/* -----------------FOOTER STYLE------------------ */
footer {
	background-color: #464547;
	width: 1200px;
	height: 170px;
	margin: auto;
	transform: translateY(640px);
	display: flex;
	flex-direction: column;
	align-items: baseline;
	justify-content: center;
}
.footer-logo {
	display: flex;
	width: 148px;
	height: 20px;
	justify-content: space-between;
	align-items: center;
}
.footer-logo h3 {
	text-transform: uppercase;
	font-family: "Source Sans Pro";
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 16px;
	letter-spacing: 0.2em;
	color: #ffffff;
}
.footer-text {
	display: flex;
	flex-direction: column;
}

.footer-text address,
a,
p {
	font-family: "Source Sans Pro";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: rgba(255, 255, 255, 0.4);
}

.footer-content {
	margin-left: 145px;
}
